
.checkbox{
    margin: 0 6px 6px 0;
    color: #7DBAE1;
}
.checkboxDiv{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 20px 0;
    
}
.smallCheckbox.dark {
    background-color: #7DBAE1;
    color: white;
    
}
.trash{ 
    margin-left: 10px;
    color:#7DBAE1;
}
.trash.dark{
    color: white;
}

.trash:hover{
    color: red;
    cursor: grab;
}