#messageDisplay {
  width: 50rem;
  display: inline-block;
}

.message-text {
  background-color: #F5D300;
  padding: .8% 2% .8% 2%;
  display: inline-block;
  border-radius: 4rem;
}

.profile-pic {
  height: 2rem;
}

.message-info-div {
  width: 75%;
}

.message-info {
  display: inline-block;
}

.delete-msg {
  height: 1.3rem;
}
