@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#messageDisplay {
  background-color: $message-display-bg;
  display:flex;
  flex-direction: column;
  justify-content: start;
  margin: 30px 10px 0px 10px;
  padding: 10px;
  border: 3px solid $dark-green;
  border-radius: 50px;
  width: 60%;
  height: 65vh;
  overflow: scroll;
  letter-spacing: .07em;
}

.message-text {
  background-color: $parks-rec-yellow;
  padding: .1% 1% .1% 1%;
  margin: 1.5%;
  display: flex;
  border-radius: 4rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}

.profile-pic {
  height: 2rem;
  margin-bottom: 14px;
  margin-left: 1%;
  margin-right: .8%;
}

.message-info-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.message-info {
  display: inline-block;
}

.delete-msg {
  height: 1.3rem;
}
.clear-message-display {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-size: 20px; 
  font-weight: bold;
}


.gif{
  border-radius: 0%;
  height:150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
