nav.dark{
    background-color: #7DBAE1;
    img{
        background-color: rgb(243, 241, 241);
        padding: 5px;
        border-radius: 8px;
    }
    button{
        background-color:white;
    }
    
}
