#select-user {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
}
.users{
  height:50%;
  width:30%;
  margin:5px;
}
.radio{
  display:none;
}

.userImage{
  height:auto;
  width: 100%;
}
input[type="radio"]:checked+img{ 
  border: 2px $dark-green solid;
  background-color: $message-display-bg; 
}