#select-user {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.users{
  height:50%;
  width:30%;
  margin:0;
}
.radio{
  display:none;
}

.userImage{
  height:auto;
  width: 100%;
}
input[type="radio"]:checked+img{ 
  border: 5px gold solid;
  background-color: $message-display-bg; 
}