@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './globals/';
@import './components/';


@import './globals/';

@import './components';


body {
  background-color: white;
  color: black;
  text-align: center;
}
body.dark{
  background-color: #2E4057;
  color: rgb(255, 253, 253);
  text-align: center;
  text-decoration-style: solid;
}
